html{
    font-size:62.5%;
}

body{
    font-size: 1.6rem;
}
.none{
    display:none;
}
.opacity{
    opacity: 0.6;
}
.carrosel-container{
    width:80%;
    margin: 20px auto;

}
.carrosel{
    width:100%;
    height:550px;
    position: relative;
    
}

.carrosel img{
    width:30px;
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
}
.carrosel img:hover{
    cursor: pointer;
}
.carrosel img:first-child{
    transform: scaleX(-1);
    left:3%;
}
.carrosel img:last-child{
    right:3%;
}
.img1{
    background-image:url('../imagens/4.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.img2{
    background-image:url('../imagens/3.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.img3{
    background-image:url('../imagens/2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.img4{
    background-image:url('../imagens/1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.cor-texto1{
    color:#C50000;
}
.cor-texto2{
    color:#D9DD10;
}
.cor-texto3{
    color:#A63A17;
}
.cor-texto4{
    color:#10ACDD;
}
.card {
    width:370px;
    height:70%;
    text-align:justify;
    background:white;
    position:absolute;
    
    left:30%;
    top:50%;
    transform:translate(-50%,-50%);
    padding: 20px 10px;
   

    
}

.card h2,
.card p{
    padding:15px;
}

.card h2{
    font-weight: 400;
}
.card a{
    font-weight: bold;
    margin-left: 10px;
}

.element-selector{
    
    position:absolute;
    left:50%;
    top:92%;
    /* width:60px; */
    transform:translate(-50%,-50%);
    display: flex;
}


.element-selector hr{
    margin: 10px;
    border:5px solid white;
    opacity:0.6;
    cursor: pointer;
    width:70px;
}



hr.active{
    opacity: 1;
} 
.element-selector hr:hover {
    opacity:1;
}